@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* custom scroll bar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::selection {
    background: rgb(0, 123, 255, 0.3);
}

.AppDevlopment{
    background: rgba(175, 226, 253, 0.893);
}

.content {
    max-width: 1200;
    margin: auto;
    padding: 5vh 10vw;
    /* padding: 5vh 10vw; */
    display: grid;
    row-gap: 10vh;
}

.color {
    color: white;
    border-color: black;
    border-style: ridge;
    box-shadow: 8px 10px gray;
    padding: 70px 50px;
    background: rgb(7, 4, 40);
    border-radius: 50px;
}

.colorFaq {
    color: white;
    border-color: black;
    border-style: ridge;
    box-shadow: 8px 10px gray;
    padding: 60px 50px;
    padding-bottom: 10px;
    background: rgb(23, 21, 41);
    border-radius: 50px;
}

.devlopment {
    padding-top: 5vh;
    padding-bottom: 5vh;
    /* background: rgba(172, 191, 250, 0.893); */
    border-radius: 50px;
    display: grid;
    row-gap: 10vh;
}

.No-Code {
    padding-top: 5vh;
    padding-bottom: 5vh;    /* background: rgba(172, 191, 250, 0.893); */
    border-radius: 50px;
    display: grid;
    row-gap: 10vh;
}

.example{
    font-style: italic;
}
.navbar {
    position: fixed;
    width: 100%;
    z-index: 2;
    padding: 25px 0;
    transition: all 0.3s ease;
}

.navbar.sticky {
    background: #080018;
    padding: 10px 0;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
}

.navbar .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a {
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
}

.navbar .menu-list {
    display: inline-flex;
}

.menu-list li {
    list-style: none;
}

.menu-list li a {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    text-decoration: none;
    transition: all 0.3s ease;
}

.menu-list li a:hover {
    color: #007bff;
}

.banner {
    text-align: center;
    padding-top: 45vh;
    color: white;
    font-size: 7em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: url("techn.jpg") no-repeat;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}

.about {
    padding: 30px 0;
}

.about .title {
    font-size: 38px;
    font-weight: 700;
}

.about p {
    padding-top: 20px;
    text-align: justify;
}

.icon {
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    display: none;
}

.menu-list .cancel-btn {
    position: absolute;
    right: 30px;
    top: 20px;
}

@media (max-width: 1230px) {
    .content {
        padding: 0 60px;
    }
}

@media (max-width: 1100px) {
    .content {
        padding: 0 40px;
    }
}

@media (max-width: 900px) {
    .content {
        padding: 0 30px;
    }
}

@media (max-width: 868px) {
    body.disabled {
        overflow: hidden;
    }

    .icon {
        display: block;
    }

    .icon.hide {
        display: none;
    }

    .navbar .menu-list {
        position: fixed;
        height: 100vh;
        width: 100%;
        max-width: 400px;
        left: -100%;
        top: 0px;
        display: block;
        padding: 40px 0;
        text-align: center;
        background: #222;
        transition: all 0.3s ease;
    }

    .navbar.show .menu-list {
        left: 0%;
    }

    .navbar .menu-list li {
        margin-top: 45px;
    }

    .navbar .menu-list li a {
        font-size: 23px;
        margin-left: -100%;
        transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    .navbar.show .menu-list li a {
        margin-left: 0px;
    }
}

@media (max-width: 380px) {
    .navbar .logo a {
        font-size: 27px;
    }
}
@media only screen and (max-width: 480px){
    html,body{
        width: 100%;
        height: 100%;
        /* margin: 0;
        padding: 0; */
        overflow-x: hidden;
    }
}

.maintext {
    position: absolute;
    color: white;
    font-size: 5em;
    top: 50%;
    left: 50%;
    opacity: translate(-50%, -50%);
}

.what {
    font-size: 2em;
}

/* slider */


/* for faq */
.title {
    text-align: center;
}

.FAQs {
    font-size: 50px;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 40px;
    text-decoration: underline 4px;
}


.questions-container {
    padding-bottom: 20vh;
    max-width: 800px;
    margin: 0 auto;
}

.question {
    border-bottom: 1px solid #fff;
}

.question button {
    width: 100%;
    background-color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 15px;
    border: none;
    outline: none;
    font-size: 22px;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
}

.question p {
    font-size: 22px;
    max-height: 0;
    opacity: 0;
    line-height: 1.5;
    overflow: hidden;
    transition: all 0.6s ease;
}

.d-arrow {
    transition: transform 0.5s ease-in;
    color: #fff;
}

/*add this class when click*/
.question p.show {
    max-height: 200px;
    opacity: 1;
    padding: 0px 15px 30px 15px;
}

.question button .d-arrow.rotate {
    transform: rotate(180deg);
}

.footer {
    padding-top: 2vh;
    font-size: 25px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    height: 10vh;
    width: 100vw;
    background: black;

}